* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

.chat {
  background-color: bisque;
  height: calc(100dvh - 130px);
  margin: 0 auto;
  max-width: 1024px;
  overflow-y: scroll;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  background-color: aquamarine;
}

.send-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.text-area-container {
  position: relative;
  width: 70%;
}

.text-area {
  width: 100%;
  height: 70px;
  resize: none; /* desactiva la capacidad de modificar el tamaño */
}

.send-button {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.mfg {
  text-align: justify;
  width: 97%;
  padding: 9px;
  box-sizing: border-box;
}

.mtg {
  max-width: 97%;
  text-align: right;
  padding: 9px;
  box-sizing: border-box;
}

.mtg-container {
  display: flex;
  justify-content: end;
}
